* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  background-image: url("../assets/images/background.png");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 

  width: 100%;
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex-direction: column;
}
.cards-container {
  padding: 25px;
  background-color: rgb(154, 154, 154);
  width: auto;
  min-height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
}
.card {
  border-radius: 15px;
  background-color: rgb(18, 18, 23);
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.card:hover {
  transform: translate(0px, -5px);
}
/* Estilo inicial */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/*  */
.btnAdd {
  border: 2px solid #0c0c0c;
  background-color: #585858;
  border-radius: 0.9em; 
  transition: all ease-in-out 0.2s;
  font-size: 16px;
 }
 
 .btnAdd span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }
 
 .btnAdd:hover {
  background-color: hsl(147, 30%, 34%);
 }
/*  */
.like,.delete{
  transition:all 1s;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #222427;
  background: #FFFFFF;
}
.delete{
  display:none;
}
.delete:hover,
.buttons:hover .delete {
  display: block;
  color: #222427;
}
.delete:hover{
  background-color: red;
  
}
.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222427;
  width: 90%;
  height: 60%;
  margin: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.card-img > img {
  width: 100%;
  height: 100%;
}
.pokemon-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */

